/* Basic styles */
body {
    min-height: 100dvh;
    color: #454545;
    font-size: 18px;
}
/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Remove default margins (optional) */
* {
    margin: 0;
}
/* Fix line height and font rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/* Fix media defaults */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}
/* Fix input styles */
input,
button,
textarea,
select {
    font: inherit;
}
/* Fix text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/* Fix link colors */
:where(a) {
    color: #03f;
    text-underline-offset: 0.2em;
}
:where(a):visited {
    color: #7d013e;
}

/* Improve focus styles */
:focus-visible {
    outline: 2px solid var(--primary2);
}

/* Fancy scrollbars */
@media (pointer: fine) {
    ::-webkit-scrollbar {
        background: transparent;
    }

    ::-webkit-scrollbar-corner {
        background: var(--bg0);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--accent0);
        background-clip: padding-box;
        border: solid transparent;
        border-width: 3px;
        border-radius: var(--border-radius-md);
    }
}

/* Variables */
:root body {
    /* Colors */
    --bg0: #f9f5f2;
    --bg1: #e3e3e3;

    --fg0: #170e0a;
    --fg1: #524845;

    --primary0: #eeb18c;
    --primary1: #eba276;
    --primary2: #e79360;
    --secondary0: #bbd59c;
    --secondary1: #afcd8a;
    --secondary2: #a2c678;
    --accent0: #83c371;
    --accent1: #73bb5f;
    --accent2: #64b44d;
    --muted0: #d1d0ce;
    --muted1: #c5c3c1;
    --muted2: #b8b7b4;

    --bg-glass: rgba(255, 255, 255, 0.62);

    /* Sizes */
    --border-radius-sm: 6px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;

    --message-box-height: min(55vh, 500px);

    /* Duration */
    --duration-fast: 40ms;

    /* Fonts */
    --font-normal: system-ui, sans-serif;
    --font-header: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
        "Sitka Small", serif;

    /* Shadows */
    --shadow-color: 0 0% 55%;
    --shadow-elevation-low: 0.3px 0.6px 0.6px hsl(var(--shadow-color) / 0.51),
        1.4px 0.9px 1.9px -1px hsl(var(--shadow-color) / 0.4),
        2.2px 2.3px 4.5px -3.6px hsl(var(--shadow-color) / 0.6);
    --shadow-elevation-medium: 0.3px 0.6px 0.6px hsl(var(--shadow-color) / 0.54),
        0.7px 1.4px 1.5px -1.2px hsl(var(--shadow-color) / 0.45),
        2.2px 4.2px 4.5px -2.4px hsl(var(--shadow-color) / 0.37),
        5.9px 11.3px 12.1px -3.6px hsl(var(--shadow-color) / 0.28);
    --shadow-elevation-high: 0.3px 0.6px 0.6px hsl(var(--shadow-color) / 0.5),
        1.1px 2.1px 2.3px -0.5px hsl(var(--shadow-color) / 0.46),
        2.2px 4.2px 4.5px -1px hsl(var(--shadow-color) / 0.42),
        4.1px 7.8px 8.4px -1.6px hsl(var(--shadow-color) / 0.38),
        7.2px 13.9px 14.9px -2.1px hsl(var(--shadow-color) / 0.34),
        12.2px 23.5px 25.2px -2.6px hsl(var(--shadow-color) / 0.3),
        19.5px 37.6px 40.3px -3.1px hsl(var(--shadow-color) / 0.26),
        29.6px 57.2px 61.3px -3.6px hsl(var(--shadow-color) / 0.22);
}

/* Main styles */
body {
    background: linear-gradient(125deg, #ffffff 0%, #000000 100%),
        linear-gradient(
            200deg,
            #ffd9e8 0%,
            #ffd9e8 50%,
            var(--primary0) calc(50% + 1px),
            var(--primary0) 60%,
            #7f4a88 calc(60% + 1px),
            #7f4a88 75%,
            var(--secondary0) calc(75% + 1px),
            var(--secondary0) 100%
        ),
        linear-gradient(
            113deg,
            #ffd9e8 0%,
            #ffd9e8 40%,
            var(--primary0) calc(40% + 1px),
            var(--primary0) 50%,
            #7f4a88 calc(50% + 1px),
            #7f4a88 70%,
            var(--secondary0) calc(70% + 1px),
            var(--secondary0) 100%
        );
    background-blend-mode: overlay, overlay, color-burn;
    background-color: var(--bg0);
    color: var(--fg0);
    display: flex;
    flex-direction: column;
    font-family: var(--font-normal);
}

/** Helper styles **/
/* Padding */
.pad {
    margin-block: 1rem;
}

/* Shadows */
.shadow-sm {
    box-shadow: var(--shadow-elevation-low);
}
.shadow-md {
    box-shadow: var(--shadow-elevation-medium);
}
.shadow-lg {
    box-shadow: var(--shadow-elevation-high);
}

/* Button colors */
:where(input[type="submit"], button) {
    --button0: var(--primary0);
    --button1: var(--primary1);
    --button2: var(--primary2);
}

.button-secondary {
    --button0: var(--secondary0);
    --button1: var(--secondary1);
    --button2: var(--secondary2);
}

.button-accent {
    --button0: var(--accent0);
    --button1: var(--accent1);
    --button2: var(--accent2);
}

.button-muted {
    --button0: var(--muted0);
    --button1: var(--muted1);
    --button2: var(--muted2);
}

/** Generic styles **/
form {
    display: grid;
    gap: 1rem;
}

label {
    color: var(--fg1);
    font-size: 0.8em;
}

button,
input {
    display: block;
    padding: 8px 16px;
    border: 1px solid rgba(142, 142, 142, 0.3);
    border-radius: var(--border-radius-sm);
    box-shadow:
        var(--shadow-elevation-low),
        inset 3px 3px 4px -4px #fffa;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

input[type="text"],
input[type="password"] {
    width: 100%;
}

input[type="submit"],
button {
    background-color: var(--button0);
    transition: background-color var(--duration-fast);
    user-select: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
    background-color: var(--button1);
}
input[type="submit"]:active,
button:active {
    background-color: var(--button2);
}
